body{
    background-color:black ;
}
.H1{
    color:orange;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    border: 1px double;
    text-align: center;
    
}
.H2{
    color:goldenrod;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    border: 1px double;
    text-align: center;
   
}
.H3{
    color:black;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    border: 1px double;
    text-align: center;
}

.envoltura{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    
}

.articulo{
    width: 45%;
    height: 200px;
    border: 1px solid white;
    margin: 2%;
    text-align-last: left;
    color:white ;
}


@media  screen and (min-width:599px){
    .articulo{
        width: 95%;
        height: 200px;
        border: 1px solid white;
        margin: 2%;
    }  
}

    @media screen and  ( min-width:1000px){
        .articulo{
            width: 23%;
            height: 200px;
            border: 1px solid white;
            margin:0.5% ;

        }
        
    }